.products-panel {
    display: grid;
    max-width: 100vw;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1px;
    row-gap: 1px;
}

.product-cart-list-filter {
    grid-column: 1;
}

.product-cart-list {
    width: 100%;
    grid-column: 1;
}

@media screen and (min-width:1000px) {
    .products-panel {
        grid-template-columns: repeat(4, 1fr);
    }

    .product-cart-list {
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 5;
    }
}

::-webkit-scrollbar {
    background: none;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #69f0ae;
    border-radius: 0.7em;
}